.github


__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info
dist
build
*.egg
*.egg-info
*.egg-info/
*.egg-info/*
*.egg-info/EGG-INFO
*.egg-info/PKG-INFO
*.egg-info/SOURCES.txt
*.egg-info/dependency_links.txt
*.egg-info/top_level.txt
*.egg-info/zip-safe
*.egg-info/not-zip-safe
*.egg-info/namespace_packages.txt
*.egg-info/requires.txt
*.egg-info/entry_points.txt
*.egg-info/installed-files.txt
.venv

/runs
/models
/inputs